@import "tailwindcss";

:root {
  --spacing: 16px;
  --blue: #0b5fa5;
  --green: #5fb13b;
}
body {
  background-color: var(--blue);
}
header{
}
h1 {
  min-height: 300px;
  background-size: auto 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("images/logo.png");
}
h1 span {
  visibility: hidden;
}
#badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 290px;
  right: 200px;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.4));
  transform: scale(1.4) rotate(-15deg);
  z-index: 2;
}
#ad {
  color: white;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.1;
  position: absolute;
  z-index: 2;
  font-weight: 400;
  font-style: normal;
  font-family: "Anton", sans-serif;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.4));
}
blockquote {
  color: rgba(255, 255, 255, 1);
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  font-family: "Mogra", system-ui;
}
p {
  color: rgba(255, 255, 255, 0.7);
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  background-color: #f39a1e;
  z-index: 1;
  transform: scale(1.1);
}
.box {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: #18a7b8;
}
.box:nth-child(1) {
  rotate: 15deg;
}
.box:nth-child(2) {
  rotate: -15deg;
}
.box:nth-child(3) {
  rotate: 30deg;
}
.box:nth-child(4) {
  rotate: -30deg;
}
.box:nth-child(5) {
  rotate: 45deg;
}
.field {
  background-size: 150px auto;
}
.paste {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='rgba(156,214,122,.3)' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z' /%3E%3C/svg%3E%0A");
}
.copy {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='rgba(156,214,122,.3)' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184' /%3E%3C/svg%3E%0A");
}
footer{margin-bottom: 20px;}
footer a{
  margin:0 auto;
  width: 30px;
  height: 30px;
  color: white;
  display: block;
  background-size: 100% auto;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-github" viewBox="0 0 16 16"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/></svg>');
}
footer a span{
  visibility: hidden;
}