@import "tailwindcss";

:root {
  --spacing: 16px;
  --blue: #0b5fa5;
  --green: #5fb13b;
}
body {
  background-color: var(--blue);
}

h1 {
  min-height: 300px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("images/logo.png");
}
h1 span {
  visibility: hidden;
}
#badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 290px;
  right: 200px;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.4));
  transform: scale(1.4) rotate(-15deg);
  z-index: 2;
}
#ad {
  color: white;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.1;
  position: absolute;
  z-index: 2;
  font-weight: 400;
  font-style: normal;
  font-family: "Anton", sans-serif;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.4));
}
blockquote {
  color: rgba(255, 255, 255, 0.5);
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
}
p {
  color: rgba(255, 255, 255, 0.7);
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  background-color: #f39a1e;
  z-index: 1;
  transform: scale(1.1);
}
.box {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: #18a7b8;
}
.box:nth-child(1) {
  rotate: 15deg;
}
.box:nth-child(2) {
  rotate: -15deg;
}
.box:nth-child(3) {
  rotate: 30deg;
}
.box:nth-child(4) {
  rotate: -30deg;
}
.box:nth-child(5) {
  rotate: 45deg;
}
.field {
  background-size: 150px auto;
}
.paste {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='rgba(156,214,122,.3)' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z' /%3E%3C/svg%3E%0A");
}
.copy {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='rgba(156,214,122,.3)' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184' /%3E%3C/svg%3E%0A");
}
